@import "tailwindcss";

body {
  background-color: #f8f8f8;
}


.container {

  margin-left: auto;

  margin-right: auto;
  max-width: 98%;

  padding-left: 1rem;

  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 95%;
  }
}


@media (min-width: 1024px) {
  .container {
    max-width: 70%;
  }
}

.title {
  font-size: 3.75rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #374151;
  text-align: center;
  margin-bottom: 5rem;
}